form
{
    margin-top: 25px;
    margin-left: 25px;
}

textarea
{
    width: 100%;
    height: 300px;
}

#buttons
{
   margin-top: 25px; 
}

#submitBtn
{
  background-color: #00ff99;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  visibility: hidden;
}

#editBtn
{
  background-color: #0042ff;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#cancelBtn
{
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#cancelBtn:hover
{
  background-color: red;
}


#submitBtn:hover, #editBtn:hover {
  background-color: green;
}

#cancel:link, #cancel:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#cancel:hover, #cancel:active {
  background-color: red;
}