form
{
    margin-top: 25px;
    margin-left: 25px;
}

textarea
{
    width: 100%;
    height: 300px;
}

#buttons
{
   margin-top: 25px; 
}

button
{
    background-color: #00ff99;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: green;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}