html, body
{
    background-color: #6600cc;
}

h1
{
    color: white;
    text-align: center;
    text-decoration: none;
}

h1 a
{
	color: white;
    text-align: center;
    text-decoration: none;
}

#addButton
{
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 47%;
    margin-top: -25px; /* Negative half of height. */
    margin-left: -25px; /* Negative half of width. */
    margin: auto;
    /*border: 3px solid green;*/
    color: white;
    font-size: 40px;
    text-align: center;
    border-radius: 30px;
    background-color: #3366ff;
    text-decoration: none;

}


.error
{
	text-align: center;
	color: red;
	font-size: 42px;
}