
table {
  border-collapse: collapse;
  width: 100%;
}

tr, td {
  border: 1px solid black;

}

td
{
    text-align: center;
}


h2
{
    text-align: center;
}

#mainTableRow td a:link, #mainTableRow td a:visited
{
    color: white;
    text-decoration: none;
}

 
#mainTableRow:hover
{
   background-color: darkblue;
} 

#mainPanel {
    float:left;
    width:70%;
}

#tagsMenu {
    margin-left:75%   
}

#tagsMenu > p > a
{
     color: white;
    text-decoration: none;
}

#tagsMenu > a
{
    color: #ffff00;
    text-decoration:none;
}

.iconDocument, .iconTrash
{
  width: 42px;
  height: 42px;
}